@charset "utf-8";
/* CSS Document */

.heading_name_ask_leave
{
	color:white;margin-left:35px;font-weight:bold;font-size:18px;float:left;
}
.heading_name_ask_leave_extra
{
	margin-top:0px;padding-right:40px;
}
	
.user_name_ask_leave
{
	color:white;font-weight:bold;font-size:18px;margin-left:0px;padding-top:0px;
}
.user_name_ask_leave_extra
{
	color:white;font-weight:bold;font-size:18px;margin-left:0px;padding-top:0px;margin-top:-20px;
}

.input_ask_leave_type_select
{font-size:18px;min-width:230px;background-color:transparent;color:white;border:solid;border-width:2px;margin-top:-20px;}
.input_ask_type_td_dob_mm_dd_yyyy
{position:relative;margin-top:-30px;color:white;margin-left:50px;font-size:13px;}

.input_ask_type_input,input_ask_type_input:hover:visited:active:focus
{	   border:none;
		background-color:rgba(255,255,255,0.0);
		font-weight:bolder;
		color:white;
		font-size:18px;
		padding-left:0px;
		outline-width:0;
		border-bottom-style:solid;border-bottom-width:2px;
		padding-bottom:5px;margin-top:-30px;
		padding-right:10px;width:250px;margin-left:0px;
}

.ask_content_main_div
{overflow-x:auto;overflow-y:auto;margin-top:130px;height:87.7%;box-shadow:5px 5px 30px #000000;width:83.6%;margin-left:220px;}
.input_ask_type_cancel_button
{margin-left:40px;cursor:pointer}

.input_date_from
{
	float:left;margin-top:0px;	
}
.input_p
{float:left;margin-left:30px;margin-top:10px;padding-right:40px;}

.ask_leave_load_balance
{margin-left:35px;}

.load_select
{margin-top:5px;min-width:130px;font-size:16px;}
.load_select_1
{margin-top:5px;min-width:130px;margin-left:0px;padding-right:0px;float:none;font-size:16px;}

.select_hide
{display:none}
.select_show
{display:block;}


.ask_leave_legend
{
	color:white;margin-left:10px;font-weight:bold;font-size:18px;padding-left:10px;padding-right:10px;
}
.heading_name_ask_leave_extra_legend
{
	margin-top:0px;padding-right:00px;margin-left:20px;
}

.input_select_legend
{
	margin-top:-2px;	
}

.input_ask_leave_type_input_legend,input_edit_type_input:hover:visited:active:focus
{	   border:none;
		background-color:rgba(255,255,255,0.0);
		font-weight:bolder;
		color:white;
		font-size:15px;
		padding-left:10px;
		outline-width:0;
		border-bottom-style:solid;
		border-bottom-width:2px;
		padding-bottom:5px;
		padding-right:10px;
		margin-left:5px;
		min-width:100px;
		max-width:190px;
}
.ask_leave_load_balance_inner
{margin-left:0px;}

.add_row_text_hovers
{width:250px;cursor:pointer;padding-top:0px;margin-top:0px;float:left;color:white;font-size:16px;font-weight:700;}

.add_row_text_hover
{
	width:185px;color:white;font-weight:bold;font-size:16px;margin-top:0px;float:left;padding-top:3px;margin:0px;	
}
.add_row_text_hover:hover
{text-decoration:underline;cursor:pointer;}

.head_ask_leave
{background-color:rgba(10,10,10,0.6);}

.td_class_hide
{display:none}