@charset "utf-8";
/* CSS Document */

.img_guided_by
{
	margin-left:150px;margin-top:50px;border-radius:10%;
}
.faculy_name
{color:white;font-size:20px;margin-top:0px;font-weight:bold;}

.developer_div
{max-height:400px;overflow-y:scroll}

.developer_cancel_image
{width:30px;background-color:rgb(10,40,50);position:absolute;margin-left:66.63%;margin-top:1px}

.website_developer_heading
{font-size:24px;width:30%;padding-left:10px;background-color:rgba(0,0,0,0.7);
color:white;text-align:center;}