.edit_profile_thumb
{
	background-color:rgb(40,40,40);
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	box-shadow:5px 5px 40px;
	color:black;
	min-height:210;max-height:270;min-width:240px;max-width:400px;
}

.edit_content_main_div
{overflow-x:auto;overflow-y:auto;margin-top:160px;height:77%;box-shadow:5px 5px 30px #000000;width:65.5%;margin-left:380px;}

.edit_profile_thumb_change_profile
{border:none;margin-left:0%;min-width:240px;max-width:400px;margin-top:0px;font-size:22px;color:white;font-variant:small-caps;text-align:center;background-color:rgb(0,0,0);
	box-shadow:5px 5px 30px #555555;cursor:pointer;
}

.edit_change_pro_pic_new_upper_inner_change_pic_div
{
box-shadow:5px 5px 30px #000000;margin-top:20%;margin-left:17%;width:70%;min-height:460px;
}

.edit_change_pro_pic_new_upper_div
{
	display:none;border:none;width:105%;height:105%;position:fixed;z-index:30000;margin-top:-210;

}

.input_edit_type_input,input_edit_type_input:hover:visited:active:focus
{	   border:none;
		background-color:rgba(255,255,255,0.0);
		font-weight:bolder;
		color:white;
		font-size:20px;
		padding-left:10px;
		outline-width:0;
		border-bottom-style:solid;border-bottom-width:2px;
		padding-bottom:2px;
		margin-top:2px;
		margin-bottom:5px;
		padding-right:10px;width:400px;margin-left:30px;
}

.input_edit_type_td
{float:left;color:white;font-size:22px;font-weight:bolder}
.input_edit_type_td_dob
{color:white;font-size:22px;font-weight:bolder;padding-top:40px;}
.input_edit_type_td_dob_mm_dd_yyyy
{position:relative;margin-top:-17px;color:white;margin-left:10px;}
.input_edit_type_select
{font-size:24px;margin-left:31px;width:180px;background-color:transparent;color:white;}
.input_edit_type_cancel_button
{margin-left:40px;cursor:pointer}

.input_edit_type_textarea
{min-width:400px;margin-left:30px;min-height:79px;max-width:400px;}

.devel_margin-alig
{margin-top:-130px;}

.guide_td
{}