/* CSS Document */


table{border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#7f8c8d;
  animation: responsive 5s infinite ease-in-out;}
	
tr{
padding:0px;
Margin:0px;
}
td{
vertical-align:top;
padding:0px;
margin:0px;}

.svpx{
vertical-align:top;
padding:0px;
margin:0px;
height:1px;}

.shpx{
vertical-align:top;
padding:0px;
margin:0px;
width:1px;}

img{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
border:none;}

a {outline:none;}

p, h1, h2, h3, h4, h5, h6, ul, li{padding:0px; margin:0px;}

.verdana12 {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#ffffff;}
.arial10 {font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; color:#ffffff;}
.arial11 {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#6f6f6f;}
.arial-b {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#2c4560;}
.tahoma11 {font-family:Tahoma, Arial, Verdana; font-size:11px; font-weight:normal; color:#535f6a;}
.arial12 {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#535f6a; text-align:justify;}

.input1 {background:#f9f9f9; width:200px; border:solid 1px #c9c9c9; padding:2px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333333; vertical-align:middle;}
.input2 {background:url(../images/input-bg.gif) right top; border:0px; width:228px; padding:9px 0px 9px 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#ffffff; height:32px;}
.d-down {background:#f9f9f9; width:160px; border:solid 1px #c9c9c9; padding:1px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333333; vertical-align:middle;}

.main {width:978px; padding-bottom:24px;}
.main-td {height:81px; vertical-align:middle; padding-left:10px;}

.r-tab {width:auto; margin-right:56px;}
.r-tab td {vertical-align:middle;}

.border {border:solid 1px #d6d6d6; padding:5px; background:#ffffff;}
.left-td {border:solid 1px #e2e2e2; width:236px; background:url(../images/l-menu-bg.gif) repeat-y; padding:4px 5px;}

.menu {width:auto; margin:7px 9px 0px 0px;}
.menu td {border-top:solid 1px #d6d6d6; border-left:solid 1px #d6d6d6; border-right:solid 1px #d6d6d6;}
.menu a {display:block; padding:6px 8px; border:solid 1px #ffffff; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#2c4560; text-decoration:none; background:url(../images/repeat1.gif) repeat-x;}
.menu b {display:inline-block; cursor:pointer;}
.menu a img {vertical-align:middle; margin-right:5px;}
.menu a:hover {color:#2c4560; background:url(../images/repeat2.gif) repeat-x;}
.menu .selected {color:#2c4560; background:url(../images/repeat2.gif) repeat-x;}

.l-menu {background:#6dace5;}
.l-menu td {background:url(../images/menu-bg.gif) repeat-x left bottom; vertical-align:middle;}
.l-menu td img {vertical-align:middle;}
.l-menu td a {display:block; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#ffffff; padding:7px 0px;}
.l-menu td a img {margin:0px 15px 0px 25px; vertical-align:middle;}
.l-menu td a:hover {color:#ffffff; background:url(../images/menu-over.gif) repeat-x left bottom #5496d1;}
.l-menu td .fixed {color:#ffffff; background:url(../images/menu-over.gif) repeat-x left bottom #5496d1;}

.text {border:solid 1px #5496d1; background:#a6d5ff; padding:5px; font-family:verdana; font-size:11px; color:#ffffff; text-decoration:none; font-weight:normal; text-align:justify;}
.text a {display:block; text-decoration:none;  font-family:verdana;  color:#ffffff; padding:7px 0px;}
.text a:hover {color:#ffffff; background:url(../images/menu-over.gif) repeat-x left bottom #5496d1;}

.job-td {border:solid 1px #f0f3f4; background:#ffffff; padding:1px;}
.job-list {background:#6dace5;}
.job-list td {vertical-align:middle; padding:6px 4px;}
.job-list td img {vertical-align:middle;}

/*.main-tab td {border:solid 1px #f0f3f4; padding:5px 5px 5px 20px;}
.main-tab .repeat td {background:url(../images/repeat.gif) repeat-x; border-right:solid 1px #cbcbcb;}
.main-tab .first td {background:#fcfcfc;}*/

.main-tab td {border:solid 1px #f0f3f4; padding:5px 5px 5px 20px;}
.main-tab .repeat td {background:url(../images/repeat.gif) repeat-x; border-right:solid 1px #cbcbcb;}
.main-tab .first td {background:#ccc;}
 
.bottom td {height:37px; background:url(../images/bottom.gif) repeat-x left bottom; vertical-align:middle;}

.login {width:396px; height:260px; background:url(../images/login.gif) no-repeat left top;}
.login-tab {width:auto; font-family:Tahoma, Arial, Verdana; font-size:11px; font-weight:bold; color:#535f6a;}
.login-tab td {padding:4px; vertical-align:middle; text-align:right;}

.left {width:50%; background:#6dace5;}
.right {width:50%; background:#6dace5;}
.login-td {vertical-align:middle; height:108px; padding-left:10px;}
.login1 {text-align:center; background:url(../images/login-bg.gif) no-repeat center bottom; padding:30px;}

.welcome {background:#6dace5; padding:7px;}

.wel-td {padding:30px; border-left:solid 1px #f0f3f4; border-right:solid 1px #f0f3f4;}
.wel-td p {margin-bottom:10px;}
.wel-td1 {padding:30px; border-left:solid 1px #f0f3f4; border-right:solid 1px #f0f3f4; border-bottom:solid 1px #f0f3f4;}
.wel-i {table-layout:fixed;}
.wel-i td {text-align:center; vertical-align:middle; padding:5px;}

.title {font-family:"Times New Roman", Times, serif; font-size:26px; font-weight:normal; color:#ffffff; text-decoration:none;}

.arial-16 {font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ffffff;}

.new-tab {font-family:Tahoma, Arial, Verdana; font-size:12px; font-weight:bold; color:#fff;}
.new-tab td {padding:5px 10px; vertical-align:middle; border:solid 1px #f0f3f4;}
.input3 {background:#f1f1f1; border:solid 1px #cccccc; width:220px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333333; vertical-align:middle;}
.input4 {background:#f1f1f1; border:solid 1px #cccccc; width:100; padding:3px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333333; vertical-align:middle;}

.link {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#535f6a; text-decoration:none;}
.link:hover {color:#999999;}

.forgot {width:396px; height:260px; background:url(../images/forgot.gif) no-repeat left top;}
.forgot-tab {width:auto; font-family:Tahoma, Arial, Verdana; font-size:11px; font-weight:bold; color:#535f6a;}
.forgot-tab td {padding:4px; vertical-align:middle; text-align:right;}

.adminheader {
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
font-weight:bold;
text-decoration:none;
}

.gotopage {
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

.green11, a.green11, a.green11:link, a.green11:active, a.green11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #336600;
	text-decoration:none;
}
a.green11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #336600;
	text-decoration:underline;
}

.black_text  a{color:#000000; text-decoration:none;}
.black_text   a:hover{color:#DE5303; text-decoration:none;}

.red11 {font-family:Arial,Helvetica,sans-serif; color:#FF0000;font-size:12px;font-weight:bold;}

.paging {height:30px; padding-right:10px; vertical-align: middle; text-align:right; background-color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none; line-height:25px;}
.paging a {font-family:Arial, Helvetica, sans-serif; font-size: 11px; padding:3px 6px 3px 6px; color: #686c80;  text-decoration: none; line-height:25px}
.paging a:hover {font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; padding:3px 6px 3px 6px; text-decoration: none; color:#ffffff;line-height:25px; background-color: #6daCE5;}
.paging a.curNum {font-family:Arial, Helvetica, sans-serif;font-size:11px; color: #ffffff; padding:3px 6px 3px 6px;text-decoration: none;line-height:25px;background-color: #6daCE5;}
.paging span {color:#F4F4F4;}
.paging span a {color:#F4F4F4;}
.paging span a:link, .paging span a:active, .paging span a:visited{color:#F4F4F4;}

.forgot1{font-family:Arial, Helvetica, sans-serif; font-size: 11px; color:#535F6A;text-decoration: none;}
.forgot1:hover{font-family:Arial, Helvetica, sans-serif; font-size: 11px; color:#bf0000;text-decoration: none;}

