@charset "utf-8";
/* CSS Document */



.text_hover
{
	text-decoration:none;	
}
.text_hover:hover
{
	text-decoration:underline;	
	cursor:pointer;
}

::-webkit-input-placeholder {  color: rgb(220,220,220);}

.back_page_blur
{
	-webkit-filter: blur(90px);
	width:101%;height:90.0%;margin-top:0px;margin-left:-20px;z-index:100;position:absolute;
}
.after_login_blur
{
	width:101%;height:90.0%;margin-top:0px;margin-left:-20px;z-index:100;position:absolute;
	-webkit-animation-name: after_login_div_opacity;
  	 -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes after_login_div_opacity {
    0% {
    -webkit-filter: blur(20px);
	}
    100% {
	 -webkit-filter: blur(0px);
		}
}


.back_page_blur_after_login
{
	-webkit-filter: blur(0px);	
}


.login_panel_div
{
	display:block;
	width:105%;height:115%;margin-top:-20px;margin-left:-20px;z-index:1000;position:absolute;	
}
.login_panel_body
{
	margin-left:37%;margin-top:15%;border:none;width:26%;height:30%;border-radius:50px;
}

.login_form_input_id,login_form_input_id:hover:visited:active:focus
{	   border:none;
		background-color:rgba(255,255,255,0.0);
		font-weight:bolder;
		color:white;
		font-size:20px;
		padding-left:10px;
		outline-width:0;
		border-bottom-style:solid;border-bottom-width:2px;
		padding-bottom:5px;
		width:100%;
		padding-right:10px;
}

.login_form_input_password
{
			border:none;
			background-color:rgba(255,255,255,0.0);
			font-weight:bolder;
			color:white;
			font-size:20px;
			padding-left:10px;
			outline-width:0;
			border-bottom-style:solid;border-bottom-width:2spx;
			padding-bottom:5px;
			width:80%;
			float:left;
			padding-right:10px;
}

.incorrect_pwd_image
{
	float:left;margin-left:0px;	
}
.incorrect_pwd_text
{color:red;font-weight:bold;margin-left:28px;}





.sign_out_image
{margin-top:5px;margin-left:18px;float:left}
.sign_out_text
{color:white;padding-top:8px;margin-left:55px;}

.after_sign_out_hr_css
{margin-top:0px;width:100%}



.thumbnail_css
{
	float:left;margin-left:5%;	
}

.ksv_logo
{margin-left:4.3%;float:right;position:absolute;margin-top:0px;box-shadow:12px 12px 25px #000000;border-radius:20%;padding:5px;}
.ldrp_logo
{margin-left:87%;float:left;position:absolute;margin-top:0px;box-shadow:12px 12px 25px #000000;border-radius:20%;padding:5px;}


.developer_image_css
{
		margin-top:45%;position:absolute;margin-left:15px;cursor:pointer;;
}

.cancel_submit_images_hover:hover
{
border-radius:25px;
box-shadow:5px 5px 15px;
transition:box-shadow .3s;
-webkit-transition:box-shadow .3s;
}
.cancel_submit_images_hover
{
border-radius:25px;
margin-top:20px;
transition:box-shadow .3s;
-webkit-transition:box-shadow .3s;
}
.close_develop_images_hover:hover
{background-color:rgba(0,0,0,0.0);}

.div_opac
{	-webkit-animation-name: login_div_opacity;
  	 -webkit-animation-duration: 0.5s;
}
	
@-webkit-keyframes login_div_opacity {
    0% {
        opacity:1;
	}
    100% {
        opacity:0;
	}
}

.thumb_hover:hover
{cursor:pointer;}