@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}
body{
  color:black;
  font-family:'Open Sans',sans-serif;
  background: -webkit-linear-gradient(#65667e, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#65667e, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#65667e, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#65667e, white); /* Standard syntax */
}

.button{	
  background:#65667e;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  border-radius:25px;
  color:black;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{ 
  border-radius:50%;
  width:400px;
  margin:0 auto;
  margin-top:13%;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#login h1{
  background:#65667e;
  box-shadow:0 0 12px #000000;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
   border-radius:25px 25px 0 0;
}

form[class="login_form"] {
  background:#767793;
  box-shadow:0 3px 12px #000000;
  padding:6% 4%;
  border-radius:0 0 25px 25px;
}

input[type="password"],input[type="email"]:not(.input_edit_type_input){
  width:92%;
  margin-bottom:7%;
  margin-left:4%;
  border-radius:15px;
  border:0;
  box-shadow:1px 1px 5px #555555;
  padding:4%;
  background: transparent;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#fff;
  transition:box-shadow .2s;
  -webkit-transition:box-shadow .2s;
}
input[type="password"]:focus,input[type="email"]:not(.input_edit_type_input):focus{
 outline:none;
 box-shadow:5px 5px 40px #555555;
}
input[type="button"],input[type="submit"]{
  background:#65667e;
  padding:2%;
  border:1px solid transparent;
  box-shadow:0 0 12px #000000;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .2s;
  -webkit-transition:background .2s;
}

input[type="button"]:hover,input[type="submit"]:hover{
  background:#3c3d4b;
  box-shadow:0 0 12px #000000;
}
.content_part_thumbnails_div
{
margin-top:15%;
margin-left:17%
}
.welcome_user_main_sign_out_div
{
height:97%;
margin-top:20%;width:100%;border-radius:12px;box-shadow:10px 10px 30px;
background-color:#282832;
transition:opacity 0.4s;
-webkit-transition:opacity 0.4s;opacity:0;
}
.welcome_user_main_sign_out_div_after_hover
{
transition:opacity 0.4s;
-webkit-transition:opacity 0.4s;
opacity:1;
}

.welcome_user_main_div
{width:150px;position:absolute;margin-left:86.5%;margin-top:13px;transition:opacity 1s;
-webkit-transition:opacity 0s;}
.icon_thumb_hover
{
	background-color:#282832;
	border-radius:30%;
	box-shadow:5px 5px 40px;
	color:black;
	transition:box-shadow .3s;
  -webkit-transition:box-shadow .3s;
	
}

.icon_thumb_hover:hover
{
	border-radius:30%;
	color:black;		
	box-shadow:0px 0px 10px;
}
.body_class
{
background: -webkit-linear-gradient(#65667e, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#65667e, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#65667e, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#65667e,80%, white); /* Standard syntax */
  overflow:hidden;
}

.thumbnail_text
{color:black;font-weight:500;margin-top:8px;}
.header_css
{position:absolute;width:102%;margin-top:-8px;height:133px}

.after_login_user_name_text
{color:white;padding-right:45px;margin-top:110px;font-weight:400;float:right;cursor:pointer;text-shadow:7px 7px 7px #000000;}

.after_login_ldrp_name_text
{color:white;margin-left:29%;margin-top:50px;font-weight:400;font-variant:small-caps;font-size:30px;text-shadow:7px 7px 7px #000000;}

