.profile_thumb
{
	background-color:rgb(40,40,40);
	border-top-left-radius:10%;
	border-top-right-radius:10%;
	box-shadow:5px 5px 40px;
	color:black;margin-left:40px;
	min-height:210;max-height:280;min-width:240px;max-width:280px;
}
.profile_thumb_change_profile
{
	border:none;margin-left:40px;margin-top:0px;font-size:22px;color:white;font-variant:small-caps;text-align:center;background-color:rgb(0,0,0);
	box-shadow:5px 5px 30px #000000;cursor:pointer;
	
}

.view_profile_td_column
{font-size:20px;width:28%;padding-left:10px;background-color:rgba(180,50,100,0.5);
color:white;
}

.view_profile_td_column_heading
{font-size:24px;width:30%;padding-left:10px;background-color:rgba(10,40,50,0.7);
color:white;text-align:center;
}

.view_profile_td_details
{font-size:20px;padding-left:30px;background-color:rgba(200,200,200,0.5);width:60%;padding-right:20px;font-weight:600;
}

.view_profile_div
{overflow-y:auto;overflow-x:auto;min-height:50%;width:65%;margin-left:360px;box-shadow:5x 5px 40px;margin-top:-25px;
box-shadow:5px 5px 30px #000000;
	}

.view_profile_table
{margin-left:0px;width:100%;border-color:transparent;border-width:50px;}

.change_pro_pic
{-webkit-filter: blur(25px);}

.change_pro_pic_new_upper_div
{
	display:none;border:solid;width:105%;height:105%;position:fixed;z-index:300000;margin-top:-210;

}

.change_pro_pic_new_upper_div_view
{
	display:none;border:solid;width:105%;height:105%;position:fixed;z-index:300000;margin-top:-40;

}

.profile_thumb_change_pro_pic
{
	min-width:220px;margin-left:8%;margin-top:6%;float:left;box-shadow:5px 5px 30px #000000;width:400px;height:300px;min-height:270px;
	background-image:url(../images/loading.gif);background-size:120px;background-position:center;background-repeat:no-repeat;
}

.change_pro_pic_new_upper_inner_change_pic_div
{
box-shadow:5px 5px 30px #000000;margin-top:10%;margin-left:17%;width:70%;min-height:460px;
}

.opac
{	-webkit-animation-name: pro_pic_opacity;
  	   -webkit-animation-duration: 1s;
}

@-webkit-keyframes pro_pic_opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.pro_pic_change_div_user_name
{
	float:left;margin-top:20px;margin-left:90px;font-size:28px;color:white;	
}
.pro_pic_change_div_age
{float:left;margin-top:20px;margin-left:90px;font-size:28px;color:white;}

.pro_pic_change_div_file_input
{float:left;margin-top:20px;margin-left:90px;font-size:21px;color:white;}

.pro_pic_change_div_submit_button_input
{float:left;margin-top:20px;margin-left:85px;font-size:21px;background-color:transparent;

}

.pro_pic_change_div_cancel_button_input
{float:left;margin-top:20px;margin-left:10px;width:150px;font-size:21px;

}