.side_menu_content
{	width:220px;
	float:left;
	border:none;
	height:88%;
	margin-top:10%;
	box-shadow:5px 5px 40px;
	padding-left:00px;
	background: -moz-radial-gradient(center, circle cover, #CDCFD1 20%,#696C71 70%) repeat scroll 0 0 transparent;
}

.td_menu_navigation
{
	color:White;
	width:100%;
	padding-top:5px;
	position:static;
	max-height:10px;
	padding-bottom:5px;
	border-bottom:solid;
	font-size:16px;
	cursor:pointer;
   -webkit-transition: background-color .5s,text-align 10s;
	margin-left:0px;
}

/* Chrome, Safari, Opera */
.td_menu_navigation:hover{
	background-color:rgba(0,0,0,0.5);
	margin-left:500px;
	text-align:right;
}
	.td_menu_image
	{padding-left:20px;}

.td_menu_navigation_active{
text-align:end;color:white;border-bottom:solid;
 background-color:rgba(0,0,0,0.5);
 //padding-left:109px;
 padding-top:5px;cursor:pointer;
 padding-bottom:5px;text-align:right;
 	}

	.td_menu_item_inner_p
	{margin-top:5px;margin-left:60px}