.left-title, a.left-title, a.left-title:link, a.left-title:active, a.left-title:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
	text-decoration:none;
	font-weight:bold;
}
a.left-title:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ffff00;
	text-decoration:none;
	font-weight:bold;
}
.black_text, a.black_text, a.black_text:link, a.black_text:active, a.black_text:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #444444;
	text-decoration:none;
}
a.black_text:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #444444;
	text-decoration:underline;
}
.grey11, a.grey11, a.grey11:link, a.grey11:active, a.grey11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #333333;
	text-decoration:none;
}
a.grey11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
	text-decoration:underline;
}
.green11, a.green11, a.green11:link, a.green11:active, a.green11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #336600;
	text-decoration:none;
}
a.green11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #336600;
	text-decoration:underline;
}
.red11, a.red11, a.red11:link, a.red11:active, a.red11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
	text-decoration:none;
}
a.red11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #000000;
	text-decoration:underline;
}
.red_dark11, a.red_dark11, a.red_dark11:link, a.red_dark11:active, a.red_dark11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #cc0000;
	text-decoration:none;
}
a.red_dark11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #cc0000;
	text-decoration:underline;
}
.red_dark15, a.red_dark15, a.red_dark15:link, a.red_dark15:active, a.red_dark15:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 15px;
    COLOR: #cc0000;
	text-decoration:none;
	font-weight:bold;
}
a.red_dark15:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 15px;
    COLOR: #cc0000;
	text-decoration:underline;
	font-weight:bold;
}
.blue11, a.blue11, a.blue11:link, a.blue11:active, a.blue11:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #0059a4;
	text-decoration:none;
}
a.blue11:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
	text-decoration:underline;
}

.ntitle, a.ntitle, a.ntitle:link, a.ntitle:active, a.ntitle:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
	text-decoration:none;
	font-weight:bold;
}
a.ntitle:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 12px;
    COLOR: #ffff00;
	text-decoration:none;
	font-weight:bold;
}

.copyright, a.copyright, a.copyright:link, a.copyright:active, a.copyright:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #d4d4d4;
	text-decoration:none;
}
a.copyright:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
	text-decoration:underline;
}

.input1
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #fffdfb;
border: 1px solid #525252;
height:20;
width:146;
}
.input2
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #fffdfb;
border: 1px solid #525252;
height:20;
width:60;
}
.input3
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #fffdfb;
border: 1px solid #525252;
height:20;
width:250;
}

textarea
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #ffffff;
border: 1px solid #193a11;
padding: 2px 6px;
}

.txtinput
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #fffdfb;
border: 1px solid #525252;
height:20;
width:179;
}
.ordinput
{
color: #35592c;
font-family:tahoma;
font-size:11px;
background: #fffdfb;
border: 1px solid #525252;
height:20;
width:75;
}
.astcolor  
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #FF0000;
	font-weight:bold;
	text-decoration:none;
}
.black_text1, a.black_text1, a.black_text1:link, a.black_text1:active, a.black_text1:visited   
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #444444;
	text-decoration:none;
	height:10;
}
a.black_text1:hover
{
    FONT-FAMILY: tahoma;
    FONT-SIZE: 11px;
    COLOR: #444444;
	text-decoration:underline;

}
#TimerID {
	width: 200px;
	background-color: #ffffd5;
	border: solid 1px #ff0000;
	font-family: verdana;
	padding: 10px;
	text-align:center;
}
.imp {
color:#1A2732;
font-family:arial;
font-size:13px;
text-decoration:none;
}